version: "3.9"
services:
  mongodb:
    image: mongo
    container_name: 'mongo-db'
    environment:
      - MONGO_INITDB_ROOT_USERNAME=flask
      - MONGO_INITDB_ROOT_PASSWORD=cisco
      - MONGO_INITDB_DATABASE=moviedb
    restart: always
    ports:
      - '27017-27019:27017-27019'
    volumes:
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
      - ./mongodata:/data/db
